{% block title %}
	{{ livre.nom }}
{% endblock %}

{% block body %}

	<h2>
		<center>Mon livre "{{ livre.nom }}"</center>
	</h2><br>

	<table class="table table-borderless">
		<tbody>
			{% for livr in livre %}
				<tr>
					<th>Titre:</th>
					<td>{{ livre.nom }}</td>

				</tr>
				<tr>
					<th>Auteur:</th>
					<td>{{ livre.auteur }}</td>
				</tr>

				<tr>
					<th>Nombre De Page:</th>
					<td>{{ livre.nombreDePage }}</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
	<a href="{{ path('app_livre') }}" class="btn btn-primary" style="font-size:12px">Retour</a>
{% endblock %}
